* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/background_estatico.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.pagina-atual {
    color: #F48E1E;
    font-weight: bold;
}

a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

a:hover,
.dropdown:hover .dropbtn {
    background-color: #d6d6d6;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fas {
    color: #F48E1E;
    font-size: 3em;
}

nav {
    position: absolute;
    top: 0;
}

.logo {
    height: 320px;

}

.entrar {
    height: 60px;
    min-width: 60vw;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: #F48E1E;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 2em;
}

.form-control {
    height: 50px;
    min-width: 60vw;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 0.5em;
    border: solid 1px #FFC727;
    background-color: rgba(245, 245, 245, 0.63);
    padding: .375rem .75rem
}

::placeholder {
    color: #d6d6d6;
}

#instrucoes {
    display: flex;
    flex-direction: column;
}

.instrucao {
    color: #7d7d7d;
    font-size: .8em;
    width: 11vw;

}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creditos{
    background-color: #FFD46E;
    position: absolute;
	bottom: -10.7vh;
    padding: 1vh;
	width: 100vw
}
.nomes{
    font-size: .8em;
}
p{
	color: white;
    font-size: 1.3em;
    margin: 0;
}
@media screen and (max-width:550px) {

    .instrucao {
        width: 57vw;
    }

    body{
        background-position: center -11vh;
        background-size:unset;
    }

    /* COM FILD SET LARANJA
    .form-control{
        height: 60px;
        width: 286px;
        border-radius: 20px;
        border-color: #FFC727;
        color: #FFC727;
        font-size: 16px;
        margin: 0.5em;
        border: none;
        
    }

    select{
        height: 60px;
        width: 286px;
    }*/



}