*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../assets/teste.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif
} 

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70vw;
 
    
}

.logo{
  height: 320px;
  
}

.entrar{
    height: 60px;
    width: 286px;
    text-align: center;
    border-radius: 20px;
    border:none;
    background-color: #F48E1E;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 4em;
    
}

label{
    color: #ce9d16;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    font:bold;
    align-items: center;
}



.form-control{
    height: 50px;
    width: 230px;
    border-radius: 20px;
    border-color: #FFC727;
    color: #FFC727;
    font-size: 16px;
    margin: 0.5em;
    border: none;
    background-color: rgba(245, 245, 245, 0.63);
    
}
select{
    height: 50px;
    width: 230px;
    border-radius: 20px;
    border-color: #926f0d;
    color: #0a0a0994;
    font-size: 18px;
    margin: 0.5em;
    border: none;
    background-color: rgba(245, 245, 245, 0.63);
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6em;   
    
}
form{
    display: flex;
    flex-direction: row;
    margin-right: 6em;
}
fieldset{
    padding: 2em;
    margin: 2em;
    background-color:#e2a80a3f; 
    color:#ce9d16; 
    font-size: 27px;
    border-color: rgba(0, 0, 0, 0.157);
 
   
    
}
@media screen and (max-width:550px) {

 

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50vw;
       
        
     
        
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
  /* SEM FIELDSET */
    .form-control{
        height: 60px;
        width: 286px;
        border-radius: 20px;
        border-color: #FFC727;
        color: #FFC727;
        font-size: 16px;
        margin: 0.5em;
        border: none;
        background-color: rgba(184, 182, 182, 0.472);  
        
     }

   
        
   
    select{
        height: 60px;
        width: 286px;
        background-color: rgba(184, 182, 182, 0.472);  
    }

    fieldset{
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0);
        border: none;
        padding: 0;
        
        
    }
  
     
    
    
    /* COM FILD SET LARANJA
    .form-control{
        height: 60px;
        width: 286px;
        border-radius: 20px;
        border-color: #FFC727;
        color: #FFC727;
        font-size: 16px;
        margin: 0.5em;
        border: none;
        
    }

    select{
        height: 60px;
        width: 286px;
    }*/



}

    
