*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
}

.pagina-atual {
    color: #F48E1E;
    font-weight: bold;
}

a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 13px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 50%;
}

a:hover,
.dropdown:hover .dropbtn {
    background-color: #DD6A57;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fas {
    color: #F48E1E;
    font-size: 3em;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 11.5vh;
}

h1 {
    color: black;
}

.container {
    background-color: #FFD46E;
    padding: 4vw;
    height: 100vh;
}

.img-produto {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-width: 18vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1vw;
    background-color: white;
}

.descricao {
    width: 46vh;
}

.produtos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

p {
    font-size: .8em;
    margin-left: 1vw;
}

.movimento {
    margin-left: 20vw;
    margin-left: 8vw;
}

.img-entregador {
    margin: 3vw;
}

.entrega2 {
    width: 25vh;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.total-p {
    font-size: 1.5em;
    margin: 0;
}

.valor-total {

    font-size: 2em;
    margin: 0;

}

hr {

    background-color: white;
    border: none;
    height: 1px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4vh;
}

input[type="button"] {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    width: 100vh;
    height: 7vh;
    color: #D3766A;
    font-size: 1.2rem;
}

.creditos {
    background-color: #FFD46E;
    position: absolute;
    bottom: -19.7vh;
    left: 0;
    padding: 1vh;
    width: 100%;
}

.nomes {
    font-size: .8em;
}