* , *:before, *:after{ 
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
  }

html {
	height: 98vh;
	width: 100vw;
	margin: 0;
}

body {
	height: 98vh;
	width: 100vw;
	background-image: url(../assets/predios.png);
	background-position: bottom;
	background-position-y: 70vh;
	background-attachment: fixed;
	background-repeat: repeat-x;
	margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
	max-height: 98vh;
	max-width: 100vw;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;

}

.n01 {
	margin-top: 10vh;
	transform: translatey(0px);
	animation: n01 6s ease-in-out infinite;
}

.n02 {
	margin-top: 38vh;
	transform: translatey(0px);
	animation: n02 6s ease-in-out infinite;
}

.n03 {
	margin-top: 20vh;
	transform: translatey(0px);
	animation: n03 6s ease-in-out infinite;
}

.n04 {
	margin-top: 5vh;
	transform: translatey(0px);
	animation: n04 6s ease-in-out infinite;
}

@keyframes n04 {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-20px);
	}

	100% {
		transform: translatey(0px);
	}
}

@keyframes n03 {
	0% {
		transform: translatey(0px);
	}

	30% {
		transform: translatey(10px);
	}

	100% {
		transform: translatey(0px);
	}
}

@keyframes n02 {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-25px);
	}

	100% {
		transform: translatey(0px);
	}
}

@keyframes n01 {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(15px);
	}

	100% {
		transform: translatey(0px);
	}
}

.img-logo {
	width: 15vw;
    margin-top: 15vh ;
}

.creditos{
    background-color: #FFD46E;
    position: absolute;
	bottom: -10.7vh;
    padding: 1vh;
	width: 100vw
}
.nomes{
    font-size: .8em;
}
p{
	color: white;
    font-size: 1.3em;
    margin: 0;
}

input[type="button"],
input[type="submit"] {
    min-width: 10vw;
    height: 9vh;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 45px;
    margin: 5vh 1vw;
    padding: 0;
    cursor: pointer;
}

#cadastro{
    color: white;
    background-color: rgba(244, 142, 30,.5);
    box-shadow: none;
    text-align: center;
}

#login {
    color: white;
    background-color: #F48E1E;
    border: none;
    box-shadow: none;
    text-align: center;
    width: 15vw;
}


.botoes {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #f6f6f6;
    height: 7vh;
    border-radius: 20px;
    padding-left: 15px;
    text-indent: 5px;
    border: solid 1.5px #FFC727;
    font-size: 1rem;
    outline: none;
}


.form-group__forgot-password {
    color: #263238;
    align-self: flex-end;
    margin: 10px;
    text-decoration: none;
}

.form-group__forgot-password:hover {
    color: #486777;
    transition: 300ms;
}

label {
    font-size: 1rem;
    color:#FFC727;
    margin-left: 1vw;
}


.logo{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.pagina-atual{
	color: #F48E1E;
	font-weight: bold;
}
a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  

  .dropdown {
	float: left;
	overflow: hidden;
  }
  

  .dropdown .dropbtn {
	font-size: 13px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; 
	margin: 0;
    border-radius: 50%;	
  }
  
 	a:hover, .dropdown:hover .dropbtn {
	background-color: #DD6A57;
  }


  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  

  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  

  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

.fas {
	color: #F48E1E;
	font-size: 3em;
}

nav{
	position: absolute;
}



@media screen and (max-width:800px) {
	body{
		background-position-x: -97vw;
	}
	.container{
		overflow: hidden;
	}
	.img-logo{
		width: 50vw;
        margin-top: 7vh;
	}
    .logo{
        width: 34vw;
    }
	.n03 {
		margin-top: 10vh;
		transform: translatey(0px);
		animation: n03 6s ease-in-out infinite;
	}
    input[type="button"],
    input[type="submit"] {
        width: 70vw !important;
        height: 7vh;
        font-size: 5vw;
        margin: 1vh;
    }
    input{
        font-size:5vw;
    }
    label {
        font-size: 5vw
    }
    .n02{
        margin-top: 14vh;
    }
    .n03{
        margin-top: 2vh;
    }
    .nuvem{
        width: 50vw;
    }
}