*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

header{
  width:98vw;
  background-color: #FFD46E;
  padding-left:12em;
  padding-top:2em;
  padding-bottom: 2em;
  margin:0 auto;
}

h1{
  color:white;
  font-size:35px;
  padding-bottom:10px;
}

.container{
  width:90%;
  background-color:white;
  margin:0 auto;
  padding-bottom:5em;
}


.icones-cartao{
  margin-left:40%;
}

.logo-visa{
  width:74px;
  height:75px;
}
.logo-mastercard{
  width:74px;
  height:75px;
}

.logo-elo{
  width:74px;
  height:75px;
}

h2{
  text-align: center;
  color:#C7C7C7;

}
p{
  color:#263238;
  text-align: center;

}

 input[type=text]{
padding-left:2em;
outline-color:#FFD46E;
}
 


.cartao{
  width:85vw;
  height:5vh;
  margin-top:5px;
}


.validade{
  margin-top: 10px;
  width:45vw;
  height:5vh;
}
.cv{
  width:37.4vw;
  height:5vh;
}

.nome{
  width:85vw;
  height:5vh;
  margin-top:10px;
}

.cpf{
  width:85vw;
  height:5vh;
  margin-top:10px;
}

.apelido{
  width:85vw;
  height:5vh;
  margin-top:10px;
}
.footer{
  width:100%;
  bottom:0;
  height:120px;
  background-color: #FFD46E;
  
}

.botao-cadastrar{
  margin-left:45%;
  bottom:23vh;
  position:absolute;
}
.botao{
  margin:0 auto;
  font-size:30px;
  border-radius: 4px;
 background-color: #DD6A57;
 color:white;
 padding:20px;
 padding-left:30%;
 padding-right:30%;
}

@media screen and (max-width:1100px) {
 
  h1{
    color:white;
    font-size:35px;
    padding-bottom:10px;
    text-align: center;

    
  
  }
  .container{
		overflow: hidden;
	}
  header{
    width:100%;
    padding-left:12em;
    padding-top:2em;
    padding-bottom: 2em;
    margin:0 auto;
    
  }
  input[type=text]{
    width:100vw;
    outline-color:#FFD46E;
    }
  
.validade{
width:100vw;

 
}
.cv{
width:100vw;
margin-top:10px;
}


  footer{
    width:100%;
    bottom:0;
  }

  
}