*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.pagina-atual {
    color: #F48E1E;
    font-weight: bold;
}

a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 13px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 50%;
}

a:hover,
.dropdown:hover .dropbtn {
    background-color: #DD6A57;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fas {
    color: #F48E1E;
    font-size: 3em;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
}

.forma-topo {
    display: flex;
    background-color: #FFD46E;
    height: 27vh;
    border-radius: 0 0 50px 50px;
    flex-direction: column;
    align-items: center;

}

.caixa-procura {
    background-image: url('../assets/search.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    padding-left: 30px;
    background-position-x: 30px;
    height: 10vh;
    width: 76vw;
    text-align: center;
    margin: -22px auto;
    display: block;
    z-index: 9;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.1em;
}

.icone-perfil {
    margin-top: .8vh;
    width: 23vw;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6vw;
}

.pontos {
    display: flex;
    flex-direction: row;
}

p {
    color: white;
    font-size: 1.3em;
    margin: 0;
}

.nome-usuario {
    margin-bottom: 2vh;
}

.p-02 {
    font-size: .8em;
}

.qtd-pontos {
    display: flex;
    flex-direction: column;
    margin-right: 11vw;
}

.categorias {
    width: 101px;
    height: 107px;
    border: none;
    border-radius: 20px;
    margin-bottom: 14vw;
    margin-right: 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.icones-cat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}


.nome-cat {
    font-size: 0.8em;
    margin-bottom: 2vh;
}

.menu-mobile {
    background-color: #FFAC30;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh 0;
}

.pag-atual-mobile {
    z-index: 9;
    position: relative;
    background-color: #DD6A57;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: -28px;
}

.icone-pag-atual-mobile {
    display: block;
    margin: 2vh auto;
}

.barra-topo {
    background-color: #DD6A57;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 3vh 4vw 2vh 4vw;
    align-items: center;
}

.titulo-cat {
    margin-right: 25vw;
}

.info-usuario {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.seta-voltar {
    margin-right: 2vw;
}

.carrinho {
    margin-left: 10vw;
}

.creditos {
    background-color: #FFD46E;
    position: absolute;
    bottom: -6.7vh;
    padding: 1vh;
}

.nomes {
    font-size: .8em;
}

.icones-promo {
    display: flex;
}

.icones {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    width: 22vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2vw;
}

.legenda-promo {
    color: #A6A6A6;
    font-size: .8em;
}

.thumb {
    background-color: #FFD46E;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 28px;
    padding: 2vw;
    margin: 4vh 2vw;
}

.img-estab {
    width: 140;
    margin-top: 2vh;
}

.icones-estab {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width:800px) {
    .forma-topo {
        justify-content: space-between;
    }

    .qtd-pontos {
        margin-right: 4vw;
    }

    .barra-topo {
        padding: 3vh 4vw 2vh 4vw;
    }

    .cabecalho {
        margin-bottom: 0;
        margin-left: 3vw;
    }

    .categorias {
        margin: 0;
    }

    .titulo-cat {
        margin-right: 34vw;
    }

    .icones-promo {
        margin-top: 8vh;
    }

    .icone-perfil {
        width: 7vw;
        margin: 0;
    }

    .info-usuario {
        height: 13vh;
        flex-direction: row;
        margin: 1vh 2vw 10vh;
        width: unset;
    }

    .icones-cat {
        align-items: center;
        margin-top: 0;
        height: 56vh;
        justify-content: space-evenly
    }

    .creditos {
        bottom: -4vh !important;
        width: 100%;
    }

    .qtd-pontos {
        margin-right: 4vw;
    }

    .thumb {
        margin-top: 0vh;
    }

}